<connectionStrings >
    <clear />
    <add name="CMSConnectionString" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=LotussCms2023;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=1234;Connect Timeout=60;Encrypt=False;Current Language=English;" />
    <!--<add name="CMSConnectionString" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=LotussCms2023Thai;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=1234;Connect Timeout=60;Encrypt=False;Current Language=English;" />-->
</connectionStrings>